*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --theme-color: #5BBA47;
    --primary-fontfamily: 'Roboto', sans-serif;
;
}
@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram-Regular.otf");
}
.header-block {
    margin: 60px 0 0 0;
    height: 80px;
    display: flex;
}
.custom-container {
    width: 96% !important;
    margin: 0 auto !important;
}
.theme-bg {
    background: radial-gradient(100% 100% at 50% 0%, #FBE6A6 0%, #EDCA66 100%);
}
.text-color {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    opacity: 0.8;
    color: #5D310E;
}
.menu-icon-fs {
    font-size: 40px;
    opacity: 0.8;
    color: #5D310E;
}
.header-logo-control {
    margin-top: -10px;
}
.theme-btn {
    color: #5D310E;
    background-color: #F5DA8C;
    border-radius: 30px !important;
    border: 2px solid #E7CA7E !important;
}
.slider-img-control {
    width: 530px;
    height: auto;
}
.slider-text-control {
    margin: 200px 0 0 50px;
}
.slider-btn-text-control {
    margin: 50px 0 0 0px;
    padding: 25px;
    color: #5D310E;
    border-radius: 30px !important;
    border: 2px solid #E2C26D !important;
}
.model-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.model-text {
    width: 600px !important;
    height: 130px !important;
}
.real-stories-img {
    border-radius: 15px !important;
    width: 100% !important;
    height: auto !important;
}
.real-stories {
    width: 100% !important;
    margin: 0;
}
.real-stories-para {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    transform: translate(-10%, -10%, -10%);
}
.para-container {
    position: relative;
    color: #70461E;
    font-weight: bold;
    overflow: hidden;
}
.theme-txt-color {
    color: #70461E !important;
}
.theme-title-text {
    color: #70461E;
    font-weight: 500;
    font-family: "Pangram";
    font-size: 35px;
}
.model-container {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.theme-btn-border-color {
    border: 1px solid #E7CA7E !important;
}
.follow-moc-btn {
    opacity: 0.8;
    border-radius: 50px !important;
    border: 2px solid #E7CA7E !important;
}
.fashion-carousel-img {
    width: 100% !important;
    height: auto;
    border-radius: 15px;
}
/*div .item{*/
/*    background: red;*/
/*    border-radius: 15px !important;*/
/*}*/
.op-05 {
    opacity: 0.5;
}
.theme-input {
    padding: 20px;
    border-radius: 40px;
    width: 95%;
    border: 2px solid #E7CA7E !important;
}
.book-free-btn {
    width: 95%;
    padding: 15px;
    border-radius: 50px !important;
}
.map-img {
}
.contact-us {
    margin-top: -48px;
}

@media only screen and (min-width: 600px) {
    .mt-120 {
        margin-top: 120px !important;
    }
    .mt-100 {
        margin-top: 100px !important;
    }
    .lg-slider-font-60{
        font-size: 60px!important;
    }
}
input.theme-input:focus {
    color: #70461E;
}
